<h1>Welcome Back</h1>

<div>
  <p> <a href=<%="/privateprofile/edit/#{@user.id}/name"%>> name:</a> <%=@user.name%></p>
</div>

<div>
  <p><a href=<%="/privateprofile/edit/#{@user.id}/description"%>> description: <%=@user.description%></p>
</div>

<div>
  <p><a href=<%="/privateprofile/edit/#{@user.id}/interests"%>> interests: <%=@user.interests%></p>
</div>

<div>
  <p>age: <%=@user.age%></p>
</div>

<div>
  <p>photo: <%=@user.photo%></p>
</div>

<div>
  <p>availability: <%=@user.availability%></p>
</div>

<div>
  <p>location: <%=@user.location%></p>
</div>
