<div>
name: <%=@user.name%>
<div>
description: <%=@user.description%>
<div>
interests: <%=@user.interests%>
<div>
age: <%=@user.age%>
<div>
photo: <%=@user.photo%>
<div>
availability: <%=@user.availability%>
<div>
location: <%=@user.location%>

<form action="/singleton-fithub" method="get">
  <input type="submit" name="Fithub" value="Fithub">
</form>
